name: Food Report Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "30 6 * * *"   # Runs 12:00 PM IST daily

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Python
      run: sudo apt-get install -y python3 python3-pip

    - name: Install Chrome + Driver
      run: |
        sudo apt-get update
        sudo apt-get install -y chromium-browser chromium-chromedriver
        sudo ln -s /usr/bin/chromedriver /usr/local/bin/chromedriver

    - name: Install dependencies
      run: |
        pip3 install selenium webdriver-manager google-api-python-client google-auth google-auth-oauthlib requests

    - name: Run script
      run: python3 food-report.py
